name: Renovate post update

on:
  push:
    paths:
      - "**/package-lock.json"
    branches:
      - "renovate/*"

jobs:
  update-dist:
    name: Update dist
    runs-on: ubuntu-24.04
    if: github.actor == 'renovate[bot]'
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-node@v6.2.0
      - name: Install dependencies
        run: npm ci
      - name: Rebuild the dist/ directory
        run: npm run prepare
      - uses: EndBug/add-and-commit@v9.1.4
        with:
          author_name: "renovate[bot]"
          author_email: "29139614+renovate[bot]@users.noreply.github.com"
          message: "fix: regen dist"
          add: "dist/"
